## Strctured types

In [2]:
number = 2301391209
word = 'Hi, this is Ali'
print(word[0])
#print(number[0])

H

In [3]:
word[0] = 'b' ## strings are ** immutable **

TypeError: 'str' object does not support item assignment

### tuples

In [ ]:
t1 = () 
t2 = (1, 'two', 2)

t3 = (t2,3.25)

print(t3)
print(t2 + t3)
print((t2 + t3)[3])
print((t2 + t3)[2:5])

In [ ]:
t2[0] = 'Ali'

In [ ]:
[_ for _ in (t2+t3)]

In [ ]:
x,y = 2,3
print(x,y)


x,y = (2,3)
print(x,y)

x,y,z = t2
print(x,y,z)

In [ ]:
### Ranges
start, stop, step = (1,10,2)
range(start,stop,step)

In [ ]:
range(10)[2:6]

In [ ]:
range(10)[2:6][2]

In [ ]:
print(range(0,7,2) == range(0,8,2))
print(range(0,7,2) == range(6,-1,-2))

### lists

In [ ]:
t1 = [] 
t2 = [1, 'two', 2]

t3 = [t2,3.25]


print(t3)
print(t2 + t3)
print((t2 + t3)[3])
print((t2 + t3)[2:5])

In [ ]:
# lists ARE mutable
print(t2)
t2[0] = 'Ali'
print(t2)

In [ ]:
## why does all this matter? 

names = ['Ali','Zhongxu','Veronica','Amir']
meaningless_numbers = [1,2,3,4]

useful = [names,meaningless_numbers]
print(useful)
names[0] = 'Alireza'
print(useful)
useful[0][0] = 'Alireza_2'
print(useful)
print(names)
useful[0] = 'BYE'
print(useful)
print(names)


#names = ('Ali','Zhongxu','Veronica','Amir')
#meaningless_numbers = (1,2,3,4)
#useful = (names,meaningless_numbers)
#print(useful)
#names = ('Alireza','Zhongxu','Veronica','Amir')
#print(useful)

useful = [1,2,3,4,5]
useful.append(6)
useful.count(6)
useful.insert(2,6)
useful.extend([1,2,3])
useful.remove(6)
useful.index(6)
useful.pop(0)
useful.sort()
sorted(useful)  # difference between sorted and sort
useful.reverse()

In [ ]:
list_1 = [1,2,3,4]
for _ in list_1:
    if _ in [1,2,5,6]:
        list_1.remove(_)

print(list_1)

In [ ]:
list_1 = [1,2,3,4]
new_list = list_1
for _ in list_1:
    if _ in [1,2,5,6]:
        new_list.remove(_)

print(new_list)

print(id(new_list), id(list_1))

In [ ]:
list_1 = [1,2,3,4]
new_list = list_1.copy()
#new_list = list_1[:]

for _ in list_1:
    if _ in [1,2,5,6]:
        new_list.remove(_)
        
print(new_list)

print(id(new_list), id(list_1))

### Dictionaries 

lists that are indexed with "keys"

In [ ]:
#list 

Months = {'jan': 1, 'feb': 2, 'mar': 3, 1: 'jan', 2:'feb', 3:'Mar'}
print(Months[1])
print(Months['jan'])

In [ ]:
[print(_) for _ in Months];

In [ ]:
months =Months.keys()
print(months)
Months['April'] = 0
print(months)
print(list(months))

In [ ]:
print(list(months)[0].__hash__())
print(list(months)[3].__hash__())
print(list(months)[3].__eq__(1))

len(Months)
Months.values()
'jan' in Months
Months.get('May', 5)
del Months['May']

## Pandas Series

In [ ]:
import pandas as pd

In [ ]:
temp_ser = pd.Series([30,45,60], name = 'Temperature')

In [ ]:
temp_ser

In [ ]:
temp_ser.sum()

## Boolean array

In [ ]:
hot = pd.Series([False,False,True,True])
temp_ser[hot]

In [ ]:
mask = temp_ser > 55
mask_2 = temp_ser < 90

In [ ]:
temp_ser [ mask | mask_2]

## Index

In [ ]:
temp_ser.index

In [ ]:
temp2 = pd.Series([1,2,3], name = 'temp2', index = ['M', 'T', 'W'])
temp2

In [ ]:
dates = pd.date_range('21060101', periods = 4)
temp3 = pd.Series([1,2,3,4], name = 'Temp3', index = dates)

In [ ]:
temp3

In [ ]:
temp3.index

## Data Types

In [8]:
import pandas as pd
ser = pd.Series(range(10))
ser2 = pd.Series([1.1,2,3,4])
ser3 = pd.Series(['a','b','c'])

print(ser.dtype, ser2.dtype, ser3.dtype)

int64 float64 object

In [12]:
ser4 = pd.Series([1,'a',{}])
print(ser4.dtype)

object

In [13]:
ser5 = pd.Series(['2015-01-01','2016-01-01'])
ser6 = pd.to_datetime(ser5)

In [14]:
print(ser5.dtype, ser6.dtype)

object datetime64[ns]

In [18]:
ser7 = pd.Series(['Prius','Accord','Prius','Camry'], dtype = 'category')
print(ser7)

0     Prius
1    Accord
2     Prius
3     Camry
dtype: category
Categories (3, object): [Accord, Camry, Prius]

In [23]:
temps = [30,45,60,90]
s = pd.Series(temps)
for num_panda,num_temp in zip(s,temps):
    print(num_panda,num_temp)

30 30
45 45
60 60
90 90

In [29]:
print(45 in s)
print(2 in s)  # the "in" checks index
print(45 in s.values)
print(45 in set(s))

False
True
True
True

In [30]:
dict(s)

{0: 30, 1: 45, 2: 60, 3: 90}

In [31]:
for i,val in s.iteritems():
    print(i,val)

0 30
1 45
2 60
3 90

## Broadcasting in pandas (numpy)

In [36]:
print(s+2)
print(s-s)
print(s/4)
print(s%4)
print(s==4)
print(s > 4)

0    32
1    47
2    62
3    92
dtype: int64
0    0
1    0
2    0
3    0
dtype: int64
0     7.50
1    11.25
2    15.00
3    22.50
dtype: float64
0    2
1    1
2    0
3    2
dtype: int64
0    False
1    False
2    False
3    False
dtype: bool
0    True
1    True
2    True
3    True
dtype: bool

In [38]:
print(temps)
print(temps * 2)
print(temps + 2)

[30, 45, 60, 90]
[30, 45, 60, 90, 30, 45, 60, 90]

TypeError: can only concatenate list (not "int") to list

In [39]:
s2 = pd.Series([10,20,30], index = [2,3,4])

In [41]:
s + s2  #aligned by index!

0      NaN
1      NaN
2     70.0
3    110.0
4      NaN
dtype: float64

In [44]:
def add_2(val):
    return val + 2

s.apply(add_2)  # in python, functions are first class objects 

# s + 2 here would be a lot offaster as it relies on the underlying c code  as opposed to reading your python function

0    32
1    47
2    62
3    92
dtype: int64