## Strctured types

In [2]:
number = 2301391209
word = 'Hi, this is Ali'
print(word[0])
#print(number[0])

H

In [3]:
word[0] = 'b' ## strings are ** immutable **

TypeError: 'str' object does not support item assignment

### tuples

In [9]:
t1 = () 
t2 = (1, 'two', 2)

t3 = (t2,3.25)

print(t3)
print(t2 + t3)
print((t2 + t3)[3])
print((t2 + t3)[2:5])

((1, 'two', 2), 3.25)
(1, 'two', 2, (1, 'two', 2), 3.25)
(1, 'two', 2)
(2, (1, 'two', 2), 3.25)

In [27]:
t2[0] = 'Ali'

TypeError: 'tuple' object does not support item assignment

In [13]:
[_ for _ in (t2+t3)]

[1, 'two', 2, (1, 'two', 2), 3.25]

In [17]:
x,y = 2,3
print(x,y)


x,y = (2,3)
print(x,y)

x,y,z = t2
print(x,y,z)

2 3
2 3
1 two 2

In [20]:
### Ranges
start, stop, step = (1,10,2)
range(start,stop,step)

range(1, 10, 2)

In [22]:
range(10)[2:6]

range(2, 6)

In [24]:
range(10)[2:6][2]

4

In [26]:
print(range(0,7,2) == range(0,8,2))
print(range(0,7,2) == range(6,-1,-2))

True
False

### lists

In [32]:
t1 = [] 
t2 = [1, 'two', 2]

t3 = [t2,3.25]


print(t3)
print(t2 + t3)
print((t2 + t3)[3])
print((t2 + t3)[2:5])

[[1, 'two', 2], 3.25]
[1, 'two', 2, [1, 'two', 2], 3.25]
[1, 'two', 2]
[2, [1, 'two', 2], 3.25]

In [33]:
# lists ARE mutable
print(t2)
t2[0] = 'Ali'
print(t2)

[1, 'two', 2]
['Ali', 'two', 2]

In [51]:
## why does all this matter? 

names = ['Ali','Zhongxu','Veronica','Amir']
meaningless_numbers = [1,2,3,4]

useful = [names,meaningless_numbers]
print(useful)
names[0] = 'Alireza'
print(useful)
useful[0][0] = 'Alireza_2'
print(useful)
print(names)
useful[0] = 'BYE'
print(useful)
print(names)


#names = ('Ali','Zhongxu','Veronica','Amir')
#meaningless_numbers = (1,2,3,4)
#useful = (names,meaningless_numbers)
#print(useful)
#names = ('Alireza','Zhongxu','Veronica','Amir')
#print(useful)

useful = [1,2,3,4,5]
useful.append(6)
useful.count(6)
useful.insert(2,6)
useful.extend([1,2,3])
useful.remove(6)
useful.index(6)
useful.pop(0)
useful.sort()
sorted(useful)  # difference between sorted and sort
useful.reverse()

[['Ali', 'Zhongxu', 'Veronica', 'Amir'], [1, 2, 3, 4]]
[['Alireza', 'Zhongxu', 'Veronica', 'Amir'], [1, 2, 3, 4]]
[['Alireza_2', 'Zhongxu', 'Veronica', 'Amir'], [1, 2, 3, 4]]
['Alireza_2', 'Zhongxu', 'Veronica', 'Amir']
['BYE', [1, 2, 3, 4]]
['Alireza_2', 'Zhongxu', 'Veronica', 'Amir']

In [55]:
list_1 = [1,2,3,4]
for _ in list_1:
    if _ in [1,2,5,6]:
        list_1.remove(_)

print(list_1)

[2, 3, 4]

In [65]:
list_1 = [1,2,3,4]
new_list = list_1
for _ in list_1:
    if _ in [1,2,5,6]:
        new_list.remove(_)

print(new_list)

print(id(new_list), id(list_1))

[2, 3, 4]
4573465928 4573465928

In [69]:
list_1 = [1,2,3,4]
new_list = list_1.copy()
#new_list = list_1[:]

for _ in list_1:
    if _ in [1,2,5,6]:
        new_list.remove(_)
        
print(new_list)

print(id(new_list), id(list_1))

[3, 4]
4573506568 4573396360

### Dictionaries 

lists that are indexed with "keys"

In [101]:
#list 

Months = {'jan': 1, 'feb': 2, 'mar': 3, 1: 'jan', 2:'feb', 3:'Mar'}
print(Months[1])
print(Months['jan'])

jan
1

In [98]:
[print(_) for _ in Months];

jan
feb
mar
1
2
3

In [105]:
months =Months.keys()
print(months)
Months['April'] = 0
print(months)
print(list(months))

dict_keys(['jan', 'feb', 'mar', 1, 2, 3])
dict_keys(['jan', 'feb', 'mar', 1, 2, 3, 'April'])
['jan', 'feb', 'mar', 1, 2, 3, 'April']

In [128]:
print(list(months)[0].__hash__())
print(list(months)[3].__hash__())
print(list(months)[3].__eq__(1))

len(Months)
Months.values()
'jan' in Months
Months.get('May', 5)
del Months['May']

1043773117693489569
1
True

KeyError: 'May'

## Pandas Series

In [4]:
import pandas as pd

In [7]:
temp_ser = pd.Series([30,45,60], name = 'Temperature')

In [9]:
temp_ser

0    30
1    45
2    60
Name: Temperature, dtype: int64

In [10]:
temp_ser.sum()

135

## Boolean array

In [13]:
hot = pd.Series([False,False,True,True])
temp_ser[hot]

2    60
Name: Temperature, dtype: int64

In [15]:
mask = temp_ser > 55
mask_2 = temp_ser < 90

In [17]:
temp_ser [ mask | mask_2]

0    30
1    45
2    60
Name: Temperature, dtype: int64

## Index

In [18]:
temp_ser.index

RangeIndex(start=0, stop=3, step=1)

In [21]:
temp2 = pd.Series([1,2,3], name = 'temp2', index = ['M', 'T', 'W'])
temp2

M    1
T    2
W    3
Name: temp2, dtype: int64

In [28]:
dates = pd.date_range('21060101', periods = 4)
temp3 = pd.Series([1,2,3,4], name = 'Temp3', index = dates)

In [29]:
temp3

2106-01-01    1
2106-01-02    2
2106-01-03    3
2106-01-04    4
Freq: D, Name: Temp3, dtype: int64

In [30]:
temp3.index

DatetimeIndex(['2106-01-01', '2106-01-02', '2106-01-03', '2106-01-04'], dtype='datetime64[ns]', freq='D')